@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&family=Oswald:wght@700&display=swap');
body{
    margin: 0;
    padding: 0;
    max-width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    overflow-x: hidden;
    overflow-y: auto;
}
html{
    scroll-behavior: smooth;
}



:root {
    --fullGrid: 1 / 1 / -1 / -1;
}

body {
    background-color: #fcfcfc;
}
header{
    height: 100vh;
    background-image: url('../Home/assets/ssa.gif');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}





.contentSection{
    font-size: 16px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; 
    flex-direction: row;
    width: 100%;
    height: auto;
}

.contentSection p{
    font-weight: 500;
    font-family: 'Nunito', sans-serif;
    text-align: justify;
}
#titleServices{
    color: #b43e07;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
}
#subtitleSction{
    color: #b43e07;
    margin-top: 10%;
    font-size: 26px;
    font-weight: 700;
    text-align: center
}




.intermed1{
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url('./assets/ssa.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.intermed2{
    background-image: url('./assets/ssa.gif');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.contentIntermed1{
    float: right;
    margin-right: 15%;
    padding: 20px;
    background-color: #007b5e;
    border-radius: 15px;
    color: #007b5e;
    font-size: 26px;
    font-weight: 400;
    align-items: center;
    text-align: center;
}

.contentInter2{
  background-color: #5e2ced;
  border: 5px solid white;
  border-radius: 20px 0px 20px 0px;
  margin: 5% 10% 4% 10%;
}


.contentIntermed1 form {
    padding: 8px;
    border-radius: 9px;
    background-color: rgb(255, 255, 255);
}


#workIntermed{
    font-weight: 700;
    font-size: 32px;
}

#workIntermed2{
    font-weight: 700;
    margin-left: 20%;
    font-family: 'Oswald', sans-serif;
    color: #ffffff; 
    font-size: 70px;
}

#titleForm{
    font-size: 26px;
    font-weight: 500;
    color: #007b5e
}

.inputContentIntermed{
    border: none;
    padding: 10px;
}

#iptGroup{
    border-radius: 19px;
}

.inputContentIntermed input{
    color: #007b5e;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
    border: none;
    border-radius: 0px 9px 9px 0px;
    border: 1px solid #007b5e;
    height: 60px;
}

.inputContentIntermed input::placeholder{
    text-align: center;
    font-size: 18px;
    margin-left: 10px;
    font-weight: 500;
    color: #007b5e;
}
.inputContentIntermed span{
    border: none;
    width: 50px;
    border: 1px solid #007b5e;
}
.inputContentIntermed i {
    border: none;
    font-size: 20px;
    color: #007b5e
}

#btnForm{
    border: none;
    font-size: 18px;
    color: #007b5e;
    font-weight: 500;
    padding: 10px 25px 10px 25px;
    border-radius: 9px;
    border: 1px solid #007b5e;
    transition: 1s;
    outline: none;
}

#btnForm:hover{
    background-color: #007b5e;
    color: white;
    border: 1px solid black;
}


/* FontAwesome for working BootSnippet :> */

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');


#team {
    background: #eee !important;
}
.texTeam{
    text-align: justify;
    margin: 5%;
}
.btnTeam {
    color: #fff;
    padding: 6px 22px 6px 22px;
    background-color: #7b0000;
    border-color: #007b5e;
    border-radius: 2px;
    text-decoration: none;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #b43e07;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
}

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #7b0000;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    font-size: 16px;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 26px;
    color: #7b0000 !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #7b0000 !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
