@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&family=Quicksand:wght@400;500;700&family=Work+Sans:wght@500;700;800&display=swap');
.navContent{
    margin-left: 40%;
}

.navbar-brand{
    margin-left: 2%;
    font-size: 30px;
    font-family: 'Nunito', sans-serif;
}

.navbar ul li a {
  font-family: 'Work Sans', sans-serif;
    margin-left: 20px;
    font-size: 16px;
    font-weight: 600;
}

#ani {
    display: flex;
    font-size: 20px;
    color: #7b0000;
  }
  #ani i{
      margin-top: 4px;
      margin-left: 10px;
      -webkit-animation: heartbeat 0.5s cubic-bezier(0.245, 0.325, 0.51, 1.305) infinite alternate;
            animation: heartbeat 0.5s cubic-bezier(0.245, 0.325, 0.51, 1.305) infinite alternate;
  }
  @-webkit-keyframes heartbeat {
    to {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
    }
  }
  
  @keyframes heartbeat {
    to {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
    }
  }

.gris {
    background: #ffffff00;
    border-bottom: 3px dotted #7b0000;
}
.gris #nameNav{
  color: #7b0000;
}
.top-nav-collapse {
    font-size: 36px !important;
    background: #7b0000 !important;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.top-nav-collapse #ani{
    color: white;
}

.top-nav-collapse #nameNav{
    color: white;
}

